<style>
    .MainContainer{
        height: 100%;
        width:100%;
        align-content: center;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .sideNav{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .ProfileCard{
        grid-column: 2/4;
        grid-row: 1/3;
        height: 300px;
        overflow: auto;
    }
    .card-body button{
        color: white;
        background-color: #940031;
    }
    .card-body button:hover{
        background-color: white;
        color: #940031;
        width: 100%;
    }
    .card-body .editButton{
        background-color: white;
        color: #940031;
    }
    .ProfileCardContainer{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(6,1fr);
        height: 300px;
        background-color: aqua;
    }
    .ProfileCardImage{
        grid-column: 1/4;
        grid-row: 1/4;
    }
    .p1{
        grid-column:4/5;
         grid-row: 1/2;
         height: 50px;
    }
    .p2{
        grid-column:5/7;
         grid-row:1/2;
         height: 50px;
    }
    .p3{
        grid-column: 4/5;
         grid-row:2/3;
         height: 50px;
    }
    .p4{
        grid-column:5/7;
         grid-row:2/3;
         height: 50px;
    }
    .p5{
        grid-column:4/5;
         grid-row:3/4;
         height: 50px;
    }
    .p6{
        grid-column:5/7;
         grid-row:3/4;
         height: 50px;
    }
    .p7{
        grid-column:1/7;
         grid-row:5/7;
         height: 50px;
    }

</style>

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key="></script>
    <script src="https://unpkg.com/location-picker/dist/location-picker.min.js"></script>

    
    <title>
        <%= title %>
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
    <%- include ('header/navbar')%>
     <div class="MainContainer"> 
            <!-- body -->
            <!-- <div class="container-fluid" style="margin-top: 20px;"> -->
                <!-- <div class="row justify-content-start"> -->
                    <div class="sideNav">
                        <%- include ('header/side-navbar')%>
                    </div>

                    <div class="ProfileCard">


                            <div class="card mb-3" style="max-width: 800px;margin-left: 20px;margin-top: 20px;box-shadow: 3px 5px rgb(204, 204, 204); ">

                                <div class="row no-gutters">
                                  <div class="col-md-4">
                                    <img src="http://localhost:3000/images/app_pic1.jpg" class="card-img" alt="Profile-Picture">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= user.USER_ID %></h5>
                                         <p class="card-text" style="text-transform:uppercase">Name: <%=user.FIRST_NAME %> <%=user.LAST_NAME %></p>
                                        <p class="card-text" style="text-transform:uppercase">Location: <%=user.ADDRESS %> </p>
                                        <p class="card-text" style="text-transform:uppercase">UserType: <%=user.TYPE %> </p>
                                       <p class="card-text" style="text-transform:uppercase">Contact Info: <%=user.EMAIL %></p>
                                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                                    </div>
                                  </div>
                                </div>
                              </div>
                        
                        
                        <% if (body2===null) {%>
                            <p1>
                               <h2> Welcome to the HomePage of Sherlocks Eye !!!</h2>
                            </p1>
                            <%} else{ %>
                                <h3>
                                    <%= title %>
                                </h3>
                                <%- include ('body/' +body2[0]) %>
                                <% } %>
                            

                        
                        
                    </div>
    </div>
        
            <!-- footer -->
           <%- include('footer/footer') %>
</body>

<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>

<script type="module">
    const FIREBASE_API_KEY = '<%= process.env.FIREBASE_API_KEY%>';
    const FIREBASE_AUTH_DOMAIN = '<%= process.env.FIREBASE_AUTH_DOMAIN%>';
    const FIREBASE_PROJECT_ID = '<%= process.env.FIREBASE_PROJECT_ID%>';
    const FIREBASE_STORAGE_BUCKET = '<%= process.env.FIREBASE_STORAGE_BUCKET%>';
    const FIREBASE_MESSAGING_SENDER_ID = '<%= process.env.FIREBASE_MESSAGING_SENDER_ID%>';
    const FIREBASE_APP_ID = '<%= process.env.FIREBASE_APP_ID%>';
    const FIREBASE_MEASUREMENT_ID = '<%= process.env.FIREBASE_MEASUREMENT_ID%>';
    const firebaseConfig = {
            apiKey: FIREBASE_API_KEY,
            authDomain: FIREBASE_AUTH_DOMAIN,
            projectId: FIREBASE_PROJECT_ID,
            storageBucket: FIREBASE_STORAGE_BUCKET,
            messagingSenderId: FIREBASE_MESSAGING_SENDER_ID,
            appId: FIREBASE_APP_ID,
            measurementId: FIREBASE_MEASUREMENT_ID
        };
    firebase.initializeApp(firebaseConfig);
    
</script>

</html>